<div class="header-page-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/inventory"
            >Current Inventory</a
          >
          <a class="nav-link" routerLink="/product">Product</a>
          <a class="nav-link" routerLink="/purchase">Incoming Purchase</a>
          <a class="nav-link" routerLink="/order">Outgoing Orders</a>
          <a class="nav-link" routerLink="/report">Reports</a>
        </div>
      </div>
    </div>
  </nav>
</div>
