.product-page-container {
  padding: 1rem 2rem;
  h4 {
    margin: 1rem 0;
  }
  &-errorMsg {
    color: red;
  }
  &-action-button {
    display: flex;
    justify-content: flex-end;
    .btn {
      width: 20%;
      border-radius: 2rem;
      margin-right: 0.5rem;
    }
    &-cancel {
      background-color: white;
      color: inherit;
    }
  }
}
